<header class="bg-white py-6">
  <div class="container mx-auto px-4 flex justify-between items-center">
    <div routerLink="/" class="flex items-center gap-3">
      <img src="images/fashion-logo.svg" alt="Fashion Logo" class="w-8 h-8">
      <h1 class="text-black text-[40px] font-['Poppins'] font-black tracking-[0.03em] leading-[1.5]">FASHION</h1>
    </div>
    
    <nav class="hidden md:flex">
      <ul class="flex gap-16">
        <li><a routerLink="/catalogue" class="text-[#242323] text-[22px] font-['Poppins'] font-medium tracking-[0.01em] leading-[1.5] hover:text-black transition-colors">CATALOGUE</a></li>
        <li><a routerLink="/fashion"class="text-[#242323] text-[22px] font-['Poppins'] font-medium tracking-[0.01em] leading-[1.5] hover:text-black transition-colors">FASHION</a></li>
        <li><a routerLink="/favourite" class="text-[#242323] text-[22px] font-['Poppins'] font-medium tracking-[0.01em] leading-[1.5] hover:text-black transition-colors">FAVOURITE</a></li>
        <li><a routerLink="/lifestyle" class="text-[#242323] text-[22px] font-['Poppins'] font-medium tracking-[0.01em] leading-[1.5] hover:text-black transition-colors">LIFESTYLE</a></li>
      </ul>
    </nav>
    
    <button class="hidden md:block bg-black text-[#FEFEFE] text-[24px] font-['Poppins'] font-medium tracking-[-0.03em] leading-[1.5] rounded-[7px] px-6 py-2 hover:bg-gray-900 transition-colors">
      SIGN UP
    </button>
    
    <button class="md:hidden text-black">
      <i class="pi pi-bars text-2xl"></i>
    </button>
  </div>
</header>

