/* Catalogue page specific styles can be added here */
:host {
  .heading-md {
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 0.06em;
    line-height: 1.04;
  }
  
  .section-padding {
    padding-top: 4rem;
    padding-bottom: 5rem;
  }
} 